@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700");

a {
    color: black;
    text-decoration: none;
}

.username {
    font-weight: bold;
}

form {
    display: inline-block;
}

h1 {
    font-weight: 600;
}

.title {
    font-weight: 800;
    color: #CC4A4A;
    font-size: 30px;
}

.title:hover {
    color: #CC4A4A;
}

.article-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-details {
    font-size: 10px;
    color: #6C757D;
}

.badge {
    font-size: 1em;
}

.headline {
    font-weight: 500;
    font-size: 16px;
}

.thumbnail {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.alert {
    border-radius: 7px;
    font-size: 14px;
    font-weight: 400;
}

.alert-dark {
    background-color: #E5E5E5;
    border-color: transparent;
}

.alert-primary {
    background-color: #007BFF;
    border-color: transparent;
    color: white;
}

.message-name {
    font-size: .8em;
    font-weight: 400;
    color: grey;
}

::-webkit-scrollbar {
    display: none;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.circle {
    width: 34px;
    height: 34px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    /* background-image: url('../images/background.png'); */
    background-color: white;
    background-position: 60%;
    background-size: cover;
    overflow: auto;
}

.form-signin {
    position: relative;
    top: 30vh;
    color: gray;
}

.form-signup {
    position: relative;
    top: 25vh;
    color: gray;
}

.form-signin h4, .form-signup h4 {
    color: #CC4A4A;
}

.form-signin button, .form-signup button {
    background-color: #CC4A4A;
    color: white;
}

.form-signin p, .form-signup p {
    font-size: 14px;
    color: gray;
}

.sign-in-logo {
    position: relative;
    top: 23vh;
    font-size: 40px;
}

.navigation {
    background-color:rgb(255, 255, 255);
}

.navbar-brand {
    font-size: 30px;
}

.chat-column {
    background: white;
    padding-top: 5px !important;
    padding-bottom: 80px !important;
}

.profilepic {
    position: absolute;
    left: 87%;
    top: 20%;
    z-index: 1;
}

.dot {
    height: 40px;
    width: 40px;
    background-color: #f3f3f3;
    border-radius: 50%;
    display: inline-block;
    font-size: 27px;
    text-align: center;
    font-weight: 600;
    color: #CC4A4A;
    border: solid 1px #CC4A4A;
  }

.dot p {
    position: relative;
    top: -3%;
}

.signout-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.signout {
    display: flex;
    justify-content: center;
}