{% extends "base.html" %}
{% block content %}
<!-- Header -->

<nav class="navbar bg-white">
    <div class="profilepic col-xs-2">
        <div class="dot"><p>A</p></div>
    </div>
    <div class="container-fluid justify-content-center title">
        <a href="{{url_for('home_page')}}">
            <img src="/static/images/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
            Athens
        </a>
     </div>
</nav>
<hr class="m-0" />
<div class="signout">
    <form method="POST" action="/api/v1/signout/">
        <button class="signout-button" type="submit">Sign out</button>
    </form>
</div>

<div id="reactArticles">Loading ...</div>

<!-- Load JavaScript -->
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/bundle.js') }}"
>
    $( document ).ready(function() {
        fetch('/api/v1/info/')
        .then(response => {
            return response.json()
        })
        .then(message => {
            letter = message['firstname'][0].toUpperCase()
            $('.profilepic p').html(letter);
        });

    });
</script>
{% endblock content %}