{% extends "base.html" %}
{% block content %}
<!-- Header -->

<nav class="navbar sticky-top bg-white border-bottom">
    <!-- <div class="profilepic col-xs-2">
        <div class="dot"><p>A</p></div>
    </div> -->
    <a href="/account">Account Page Link (Temp)</a>
    <div class="container-fluid justify-content-center">
        <a class="title " href="{{url_for('home_page')}}">
            <img src="/static/images/logo.png" alt="" width="37" height="37"
                class="d-inline-block align-text-top">Athens
        </a>
    </div>
    
</nav>


<div id="reactArticles"></div>

<!-- Load JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}">
    // $( document ).ready(function() {
    //     fetch('/api/v1/info/')
    //     .then(response => {
    //         return response.json()
    //     })
    //     .then(message => {
    //         letter = message['firstname'][0].toUpperCase()
    //         $('.profilepic p').html(letter);
    //     });

    // });
</script>
{% endblock content %}