{% extends "base.html" %}
{% block content %}
<!-- Header -->
<nav class="navbar bg-white">
    <div class="container-fluid justify-content-center title">
        <a href="{{url_for('home_page')}}">
            <img src="static/images/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
            Athens
        </a>
    </div>
</nav>
<hr class="m-0" />
<!-- List all of the articles -->
<div id="reactEntry">Loading ...</div>
<!-- Load JavaScript -->
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/bundle.js') }}"
></script>

{% endblock content %}